.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__noticitation {
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.nav__redping {
  background-color: tomato;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
}
